<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte</title>
    <link rel="stylesheet" href="/static/style1.css">
    <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
</head>
<body>

    <header>
        <div>
            <img src="/static/imagens/file.png" alt="logo-acs">
            <a href="/menu"><button class="voltar">Voltar</button></a>
        </div>
        <img src="/static/imagens/file2.png" alt="logo-acs">
    </header>

    <h1>Central de Suporte</h1>
    <main class="suporte">
        <h1>Dúvidas Frequentes</h1>
        <h3>Como cadastrar um paciente?</h3>
        <p>Na tela inicial do aplicativo, clique em “Cadastrar paciente”, depois prencha as informações pessoais e as que são relacionadas ao câncer de boca na tela em seguida, após isso clique em “Salvar.”</p>
        <h3>Como gerar relatório de um paciente?</h3>
        <p>Na tela inicial do aplicativo, na barra inferior, vá em “Pacientes” e depois escolha o que deseja realizar relatório, após isso clique em “Realizar relatório” e depois preencha as informações de relatório que aparecerão na próxima tela e clique em “Próximo”, depois verifique os dados e vai em “Salvar”.</p>
        <h3>Como editar dados de um paciente?</h3>
        <p>Vá em “Pacientes” na inferior, selecione o paciente específico, depois na próxima tela vá em “Alterar informações”, preencha o que deve ser alterado e salve-as.</p>
        <h3>Como agendar uma consulta?</h3>
        <p>Vá em “Consultas”, depois em “Agendar Nova Consulta”, preencha os dados solicitados, incluindo a data e horário, e clique em “Agendar”.</p>

        <a href="/index21"><button class="especial-button">Entrar em Contato</button></a>
    </main>

    <nav>
        <div class="barra">
            <ul>
                <li><a href="/menu">Início</a></li>
                <li><a href="/pacientes">Pacientes</a></li>
                <li><a href="/index23">Perfil</a></li>
            </ul>
        </div>
      </nav>

</body>
</html>