<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Suporte</title>
  <link rel="stylesheet" href="/static/style1.css">
  <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
</head>
<body>

  <header>
    <div>
      <img src="/static/imagens/file.png" alt="logo-acs">
      <a href="/index20"><button class="voltar">Voltar</button></a>
    </div>
    <img src="imagens/file2.png" alt="logo-acs">
  </header>

  <h1>Central de Suporte</h1>
  <main class="suporte">
    <h1>CONTATO</h1>
        <form action="#">
            <section>
                <label for="nome">Nome Completo:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome completo">
                <br>
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail">
                <br>
                <label for="duvida">Dúvida:</label>
                <textarea id="duvida" name="duvida" rows="4" placeholder="Descreva sua dúvida"></textarea>
                <br>
            </section>
        </form>
        <a href="/index22"><button class="especial-button">Enviar</button></a>
  </main>

  <nav>
    <div class="barra">
        <ul>
            <li><a href="/menu">Início</a></li>
            <li><a href="/pacientes">Pacientes</a></li>
            <li><a href="/index23">Perfil</a></li>
        </ul>
    </div>
  </nav>

</body>
</html>
