<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro do Paciente</title>
  <link rel="stylesheet" href="/static/style1.css">
  <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <div>
      <img src="/static/imagens/file.png" alt="logo-acs">
      <a href="/index23"><button class="voltar">Voltar</button></a>
    </div>
    <img src="/static/imagens/file2.png" alt="logo-acs">
  </header>

  <div class="img-centro"><img src="/static/imagens/perfil.png" alt="foto de perfil"></div>

  <main> 
    <strong class="p24">
        <p>Você tem certeza que deseja inativar a sua conta?</p>
    </strong>
    <div class="button-container">
        <a href="/index25"><button class="yes-inativar">SIM</button></a>
        <button class="no-inativar">NÃO</button>
    </div>
</main>


<nav>
  <div class="barra">
      <ul>
          <li><a href="/menu">Início</a></li>
          <li><a href="/pacientes">Pacientes</a></li>
          <li><a href="/index23">Perfil</a></li>
      </ul>
  </div>
</nav>
  
</body>
</html>