<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style4.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Tela1</title>
  </head>

  <body>
    <div>
      <img class="circulo-superior" src="/static/imagens/circulo-superior.svg" alt="circulo-superior" />
      <img class="img-logo" src="/static/imagens/logo2.png" alt="logo" />
      <a href="/login"><button class="button-voltar" type="button">Voltar</button></a>
      <button type="button">Enviar código para o telefone cadastrado</button>
      <button class="distanciar-button" type="button">Enviar código para o e-mail cadastrado</button>
      <button type="button">Reenviar código</button>
      <p class="Digite-código">Digite o código:</p>
      <input type="text" name="personal-text" />
      <a href="/index5"><button class="button-continuar" type="button">Continuar</button></a>
      <img class="circulo-inferior" src="/static/imagens/círculo-inferior.svg" alt="círculo-inferior" />
    </div>
  </body>
</html>