<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro do Paciente</title>
  <link rel="stylesheet" href="/static//style1.css">
  <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
</head>
<body>
  
  <header>
    <div>
        <img src="/static/imagens/file.png" alt="logo-acs">
        <a href="/index10"><button class="voltar">Voltar</button></a>
    </div>
    <img src="/static/imagens/file2.png" alt="logo-acs">
</header>

<main>
  <h1 class="h1-index">Monitoramento do Paciente</h1>
  <div class="mostra-paciente">
    Antônio Souza Lopes
  </div>
  <form action="#">
    <section>
      <h2>Situação de Rua</h2>
      <label>O paciente está em situação de rua? <div class="mostra">NÃO</div></label>
    </section>

    <section>
        <h2>Portador de Deficiência</h2>
        <label>O paciente é portador de deficiência física? <div class="mostra">NÃO</div></label>
      </section>

    <section>
      <h2>Encaminhamento de Consultas</h2>
      <label>O paciente foi encaminhado(a) para consulta? <div class="mostra">SIM</div></label>
    </section>

    <section>
      <h2>Comparecimento de Consulta</h2>
      <label>O paciente compareceu a consulta? <div class="mostra">SIM</div></label>
    </section>

    <section>
        <h2>Classificação de Risco</h2>
        <label>Classificação de risco do paciente: <div class="mostra">NÃO URGENTE</div></label><br><br>
      </section>

      <section>
        <h2>Realização de Cirurgias</h2>
        <label>Realizou cirurgias? <div class="mostra">SIM</div></label>
        <label>Quantidade de cirurgias realizadas? <div class="mostra">2</div></label>
      </section>

      <section>
        <h2>informações Adicionais:</h2>
        <label>Paciente com ardência na língua</label>
      </section>
  </form>
</main>

<nav>
  <div class="barra">
      <ul>
          <li><a href="/menu">Início</a></li>
          <li><a href="/paciente">Pacientes</a></li>
          <li><a href="/index23">Perfil</a></li>
      </ul>
  </div>
</nav>

</body>
</html>
