<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de finalização</title>
    <link rel="stylesheet" href="/static/style1.css">
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div>
            <img src="/static/imagens/file.png" alt="logo-acs">
            <a href="/inicio"><button class="sair">Sair</button></a>
        </div>
        <img src="/static/imagens/file2.png" alt="logo-acs">
    </header>
   
    <h3 class="success-message">Conta Inativada com sucesso!</h3>
</body>
</html>