<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de finalização</title>
    <link rel="stylesheet" href="/static/style1.css">
    <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div>
            <img src="/static/imagens/file.png" alt="logo-acs">
            <a href="/menu"><button class="voltar">Voltar</button></a>
        </div>
        <img src="/static/imagens/file2.png" alt="logo-acs">
    </header>
   
    <h3 class="success-message">Dúvida enviada com sucesso!</h3>
    <nav>
        <div class="barra">
            <ul>
                <li><a href="/menu">Início</a></li>
                <li><a href="/pacientes">Pacientes</a></li>
                <li><a href="/index23">Perfil</a></li>
            </ul>
        </div>
      </nav>
</body>
</html>