<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro do Paciente</title>
  <link rel="stylesheet" href="/static/style1.css">
  <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <div>
      <img src="/static/imagens/file.png" alt="logo-acs">
      <a href="/menu"><button class="voltar">Voltar</button></a>
    </div>
    <img src="/static/imagens/file2.png" alt="logo-acs">
  </header>

  <div class="img-centro"><img src="/static/imagens/perfil.png" alt="foto de perfil"></div>

  <main>
    <div class="perfil">
        <p>Nome: João Alves de Almeida</p>
        <p>Email: joão@gmail.com</p>
        <p>Data de Nascimento: 01/01/2000</p>
        <p>Número de Telefone: (62)99812-3456</p>

        <div class="zona-perigo">
            <button type="submit"><a href="/inicio">Sair da Conta</a></button>
            <button type="button"><a href="/index24">Inativar Conta</a></button>
        </div>
    </div>
  </main>

  <nav>
    <div class="barra">
        <ul>
            <li><a href="/menu">Início</a></li>
            <li><a href="/pacientes">Pacientes</a></li>
            <li><a href="/index23">Perfil</a></li>
        </ul>
    </div>
  </nav>
  
</body>
</html>