<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro do Paciente</title>
  <link rel="stylesheet" href="/static/style1.css">
  <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <div>
      <img src="/static/imagens/file.png" alt="logo-acs">
      <a href="/index24"><button class="voltar">Voltar</button></a>
    </div>
    <img src="/static/imagens/file2.png" alt="logo-acs">
  </header>

  <div class="img-centro"><img src="/static/imagens/perfil.png" alt="foto de perfil"></div>

  <main> 
    <strong class="p24">
        <p>Para inativar a conta,  informe os dados de login.</p>
    </strong>
    <div class="user-input-box">
        <label for="cpf"><strong>CPF:</strong></label>
        <input type="text" id="cpf" name="cpf" placeholder="Insira o seu CPF">
    </div>
    <div class="user-input-box">
        <label for="Senha">Senha:</label>
        <input type="text"
        id="Senha"
        name="Senha"
        placeholder="Insira sua senha"/>
    </div>

    <a href="/index26"><button class="especial-button">Inativar Conta</button></a>
</main>

<nav>
  <div class="barra">
      <ul>
          <li><a href="/menu">Início</a></li>
          <li><a href="/pacientes">Pacientes</a></li>
          <li><a href="/index23">Perfil</a></li>
      </ul>
  </div>
</nav>
  
</body>
</html>