<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de pacientes</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>

<body>
    <header>
        <div>
            <img src="/static/imagens/file.png" alt="logo-acs">
            <a href="/menu"><button class="voltar">Voltar</button></a>
        </div>
        <img src="/static/imagens/file2.png" alt="logo-acs">
    </header>    

    <h2 class="h2-informs-gerais">Informações Gerais:</h2>
    <main class="main-index8">
        <ul>
            <li class="informs-cads">
                Total de pacientes cadastrados: <span>250</span>
            </li>
            <li class="informs-cads">
                Total de pacientes em monitoramento:<span>150</span>
            </li>
            <li class="informs-cads">
                Total de pacientes encaminhados:<span>82</span>
            </li>
            <div><a href="#" class="botao-index8">Atualizar Dados</a></div>
        </ul>
    </main>

    <h2 class="h2-informs-gerais">Grupo de risco:</h2>
    <main class="main-index8">
        <ul class="group-info">
          <abbr title="Aquele que fuma, independente da quantidade ou tipo de cigarro.">
            <p>Tabagista ?</p>
          </abbr>
          <abbr title="Aquele que ingere mais de 4 unidades de 300ml (um copo/uma latinha) por semana.">
            <p>Elitista ?</p>
          </abbr>
          <abbr title="Quaisquer lesões na cavidade bucal que podem levantar suspeitas de câncer de boca.">
            <p>Lesao suspeita ?</p>
          </abbr>
          <abbr title="Paciente com idade igual ou superior a 40 anos de idade.">
            <p>+40 anos ?</p>
          </abbr>
        </ul>
    </main>

    <nav>
        <div class="barra">
            <ul>
                <li><a href="/menu">Início</a></li>
                <li><a href="/pacientes">Pacientes</a></li>
                <li><a href="/index23">Perfil</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>
