<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SobreVidas ACS</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="logo-container">
            <img src="/static/imagens/logo.png" alt="Logo" class="logo-tela1">
            <h1>SobreVidas ACS</h1>
        </div>
        <button class="start-button" onclick="window.location.href='/login'">Começar →</button>
    </div>
</body>
</html>