<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static//style2.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/inicio"><button class="back-button" onclick="window.location.href='/index'">Voltar</button></a>
            <div class="logo"></div>
        </div>
        <div class="login-form">
            <img src="/static/imagens/icon.png" alt="Logo" class="logo-tela2"> 
            <h1>Login</h1>
            <form>
                <input type="text" placeholder="CPF" required>
                <input type="password" placeholder="Senha" required>
                <button type="submit"><a href="/menu">Login</a></button>
            </form>
            <div class="links">
                <a href="/index4">Esqueceu a senha?</a>
                <a href="/tela1">Criar uma conta</a>
            </div>
        </div>
    </div>
</body>
</html>