<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="/static/style1.css">
</head>

<body>

    <header>
        <div>
            <img src="/static/imagens/file.png" alt="logo-acs">
            <a href="/inicio"><button class="sair">Sair</button></a>
        </div>
        <img src="/static/imagens/file2.png" alt="logo-acs">
    </header>
      
          <div class="rinnegan">
            <a href="/index"><div><img src="/static/imagens/consultas.png" alt=""><li>Consultas</li></div></a>

            <a href="/index23"><div><img src="/static/imagens/usuario.png" alt=""><li>Usuário</li></div></a>
            <a href="/index10">
              <div><img src="/static/imagens/moritoramento.png" alt=""><li>Monitoramento</li></div>
            </a>
          </div>

  <main>
    <div class="barras-menu">
      <aside>
        <ul >
          <li><a href="/index7" class="relatorios">Relatórios</a></li>
          <li><a href="/cadastro-paciente" class="cadastrar-paciente">Cadastrar Paciente</a></li>
          <li><a href="/index8" class="informacoes">Informações</a></li>
          <li><a href="/index20" class="informacoes">Suporte</a></li>
        </ul>
      </aside>
    </div>
  </main>

  <nav>
    <div class="barra">
        <ul>
            <li><a href="/menu">Início</a></li>
            <li><a href="/pacientes">Pacientes</a></li>
            <li><a href="/index23">Perfil</a></li>
        </ul>
    </div>
  </nav>

  <footer>
  </footer>
</body>
</html>