<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de cadastro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style3.css"/>
</head>
<body>
    <div class="container">
        <button class="back-btn" onclick="window.history.back();">Voltar</button>
        <h1 class="Tela-Cadastro">Cadastro realizado com sucesso</h1>
        <form action="/login">
            <div class="form-submit-btn">
                <a href="/login"><input type="Submit" value="Voltar para tela de login"></a>
            </div>
        </form>
    </div>   
</body>
</html>