body {
    font-family: Arial, sans-serif;
    background-color: #242f9b;
}

.cabecalho {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
}

table, th, td, tr {
    border: 3px solid black;
    border-collapse: collapse;
}
